aries-cloudagent==0.5.6
astroid==2.5.6
async-timeout==3.0.1
asynctest==0.13.0
attrs==21.2.0
autopep8==1.5.7
base58==2.0.1
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
ConfigArgParse==1.2.3
decorator==5.0.9
ecdsa==0.16.1
frozendict==2.0.3
hiredis==2.0.0
idna==2.10
inflection==0.5.1
isort==5.8.0
Jinja2==2.11.3
jsonpath-ng==1.5.2
lazy-object-proxy==1.6.0
lxml==4.6.3
Markdown==3.1.1
MarkupSafe==2.0.1
marshmallow==3.5.1
mccabe==0.6.1
morphys==1.0
msgpack==0.6.2
multidict==4.7.6
Pillow==7.2.0
ply==3.11
prompt-toolkit==2.0.10
py-multicodec==0.2.1
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pydid==0.3.0
PyJWT==2.0.1
PyLD==2.0.1
pylint==2.8.3
PyNaCl==1.3.0
python-dateutil==2.8.1
python3-indy==1.16.0
pytz==2021.1
PyYAML==5.3.1
qrcode==6.1
requests==2.23.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
unflatten==0.1
urllib3==1.25.11
varint==1.0.2
wcwidth==0.2.5
webargs==5.5.3
wrapt==1.12.1
yarl==1.5.1
py-multibase==1.0.3
validators==0.18.2
semver==2.13.0
aiohttp==3.7.4.post0
aiohttp-apispec==2.2.1
aiohttp-cors==0.7.0
aiohttp-jinja2==1.4.2
aioredis==1.3.1
apispec==3.3.2